In [1]:
import pandas as pd

In [30]:
df = pd.read_excel('../../data/rajbrain/Sud-SOH.xlsx', sheet_name='FK-SOR')

In [31]:
df

,EAN,Flipkart-SOR SOH June'23,Flipkart-SOR SOH May'23,Flipkart-SOR SOH Apr'23,Flipkart-SOR SOH Mar'23,Flipkart-SOR SOH Feb'23,Flipkart-SOR SOH Jan'23,Flipkart-SOR SOH Dec'22,Flipkart-SOR SOH Nov'22,Flipkart-SOR SOH Oct'22,...,Flipkart-SOR SOH Mar'21,Flipkart-SOR SOH Feb'21,Flipkart-SOR SOH Jan'21,Flipkart-SOR SOH Dec'20,Flipkart-SOR SOH Nov'20,Flipkart-SOR SOH Oct'20,Flipkart-SOR SOH Sept'20,Flipkart-SOR SOH Aug'20,Flipkart-SOR SOH July'20,Flipkart-SOR SOH June'20
0,2955000016382,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2955000016383,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2955000016384,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2955000016385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2955000016386,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53889,8907979484614,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53890,8907979484621,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53891,8907979484638,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53892,8907979484645,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53893,8907979484607,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df.columns[1:]

Index(['Flipkart-SOR SOH June'23', 'Flipkart-SOR SOH May'23',
       'Flipkart-SOR SOH Apr'23', 'Flipkart-SOR SOH Mar'23',
       'Flipkart-SOR SOH Feb'23', 'Flipkart-SOR SOH Jan'23',
       'Flipkart-SOR SOH Dec'22', 'Flipkart-SOR SOH Nov'22',
       'Flipkart-SOR SOH Oct'22', 'Flipkart-SOR SOH Sept'22',
       'Flipkart-SOR SOH Mar'22', 'Flipkart-SOR SOH Feb'22',
       'Flipkart-SOR SOH Jan'22', 'Flipkart-SOR SOH Dec'21',
       'Flipkart-SOR SOH Nov'21', 'Flipkart-SOR SOH Oct'21',
       'Flipkart-SOR SOH Sept'21', 'Flipkart-SOR SOH Aug'21',
       'Flipkart-SOR SOH July'21', 'Flipkart-SOR SOH June'21',
       'Flipkart-SOR SOH May'21', 'Flipkart-SOR SOH Apr'21',
       'Flipkart-SOR SOH Mar'21', 'Flipkart-SOR SOH Feb'21',
       'Flipkart-SOR SOH Jan'21', 'Flipkart-SOR SOH Dec'20',
       'Flipkart-SOR SOH Nov'20', 'Flipkart-SOR SOH Oct'20',
       'Flipkart-SOR SOH Sept'20', 'Flipkart-SOR SOH Aug'20',
       'Flipkart-SOR SOH July'20', 'Flipkart-SOR SOH June'20'],
      dtype='object')

In [33]:
for colname in df.columns[1:]:
    temp_df = df[["EAN", colname]]
    temp_df = temp_df.set_index("EAN")
    temp_df = temp_df[temp_df[colname] != 0]
    filename = temp_df.columns[0]
    temp_df.columns = ["qty"]
    temp_df.to_csv(f"../../data/rajbrain/sud/{filename}.csv", index=True)

In [34]:
import os

In [23]:
monthmap={
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'May': '05',
    'Jun': '06',
    'June': '06',
    'Jul': '07',
    'July': '07',
    'Aug': '08',
    'Sept': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12'
}

In [72]:
# monthnames = set()
# for root, dirs, files in os.walk("../../data/rajbrain/sud/SOH/"):
#     for filename in files:
#         monthnames.add(filename.split('-')[-1:][0].split('.')[0])

channels = ['Ajio-SOR', 'FK-SOR', 'Ajio-B2B', 'FF', 'TIGC']
# channels = []

for channel in channels:
    for filename in os.listdir(f"../../data/rajbrain/sud/SOH/{channel}/"):
        # print(filename)
        # newfilename = filename.replace(" ", "-")
        # monthname = filename.split('-')[-1:][0].split('.')[0].split("'")
        # print(monthname)
        # newfilename = f"{monthname[1]}-{monthmap[monthname[0]]}.csv"
        # print(newfilename)
        # os.rename(f"../../data/rajbrain/sud/SOH/{channel}/{filename}", f"../../data/rajbrain/sud/SOH/{channel}/{newfilename}")
# monthnames

In [12]:
df = pd.read_excel('../../data/rajbrain/sud-wip.xlsx')

In [13]:
df

                 EAN  Total WIP
0      2955000016382          0
1      2955000016383          0
2      2955000016384          0
3      2955000016385          0
4      2955000016386          0
...              ...        ...
53889  8907979484614          0
53890  8907979484621          0
53891  8907979484638          0
53892  8907979484645          0
53893  8907979484607          0

[53894 rows x 2 columns]

In [16]:
# df.columns
# df = df.set_index("EAN")
# df = df[df['Total WIP'] != 0]
# filename = df.columns[0]
# df.columns = ["qty"]
# df
df.to_csv(f"../../data/rajbrain/sud/wip.csv", index=True)

In [17]:
df = pd.read_excel('../../data/rajbrain/sud-grn.xlsx')

In [18]:
df

,EAN,Total GRN-May'23,Total GRN-Apr'23,Total GRN-Mar'23,Total GRN-Feb'23,Total GRN-Jan'23,Total GRN-Dec'22,Total GRN-Nov'22,Total GRN-Oct'22,Total GRN-Sept'22,...,Total GRN-Mar'21,Total GRN-Feb'21,Total GRN-Jan'21,Total GRN-Dec'20,Total GRN-Nov'20,Total GRN-Oct'20,Total GRN-Sept'20,Total GRN-Aug'20,Total GRN-Jul'20,Total GRN-Jun'20
0,2955000016382,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2955000016383,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2955000016384,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2955000016385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2955000016386,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53889,8907979484614,66,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53890,8907979484621,68,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53891,8907979484638,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53892,8907979484645,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53893,8907979484607,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
for colname in df.columns[1:]:
    temp_df = df[["EAN", colname]]
    temp_df = temp_df.set_index("EAN")
    temp_df = temp_df[temp_df[colname] != 0]
    temp_df.columns = ["qty"]
    filename = colname.replace(" ", "-")
    datesplit = filename.split('-')[-1:][0].split("'")
    newfilename = f"{datesplit[1]}-{monthmap[datesplit[0]]}.csv"
    # print(newfilename)
    # print(temp_df)
    # break
    temp_df.to_csv(f"../../data/rajbrain/sud/GRN/{newfilename}", index=True)

In [28]:
df = pd.read_excel('../../data/rajbrain/sud-returns.xlsx')
df

,EAN,Total Returns-May'23,Total Returns-Apr'23,Total Returns-Mar'23,Total Returns-Feb'23,Total Returns-Jan'23,Total Returns-Dec'22,Total Returns-Nov'22,Total Returns-Oct'22,Total Returns-Sept'22,...,Total Returns-Mar'21,Total Returns-Feb'21,Total Returns-Jan'21,Total Returns-Dec'20,Total Returns-Nov'20,Total Returns-Oct'20,Total Returns-Sept'20,Total Returns-Aug'20,Total Returns-Jul'20,Total Returns-Jun'20
0,2955000016382,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2955000016383,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2955000016384,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2955000016385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2955000016386,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53889,8907979484614,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53890,8907979484621,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53891,8907979484638,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53892,8907979484645,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53893,8907979484607,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
for colname in df.columns[1:]:
    temp_df = df[["EAN", colname]]
    temp_df = temp_df.set_index("EAN")
    temp_df = temp_df[temp_df[colname] != 0]
    temp_df.columns = ["qty"]
    filename = colname.replace(" ", "-")
    datesplit = filename.split('-')[-1:][0].split("'")
    newfilename = f"{datesplit[1]}-{monthmap[datesplit[0]]}.csv"
    # print(newfilename)
    # print(temp_df)
    # break
    temp_df.to_csv(f"../../data/rajbrain/sud/Returns/{newfilename}", index=True)

In [34]:
df1 = pd.read_excel('../../data/rajbrain/sud-sales.xlsx', sheet_name='Sheet1')
df2 = pd.read_excel('../../data/rajbrain/sud-sales.xlsx', sheet_name='Sheet2')
df3 = pd.read_excel('../../data/rajbrain/sud-sales.xlsx', sheet_name='Sheet3')
df4 = pd.read_excel('../../data/rajbrain/sud-sales.xlsx', sheet_name='Sheet4')

In [35]:
# append all dfs
df = df1.append(df2).append(df3)

/tmp/ipykernel_14157/2661744946.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2).append(df3)

In [36]:
# save to csv
df.to_csv(f"../../data/rajbrain/sud/sales.csv", index=False)

In [41]:
import os
for colname in df4.columns[1:]:
    temp_df = df4[["EAN", colname]]
    temp_df = temp_df.set_index("EAN")
    temp_df = temp_df[temp_df[colname] != 0]
    temp_df.columns = ["qty"]
    filename = colname.replace(" ", "-")
    foldername = '-'.join(filename.split('-')[:-1])
    datesplit = filename.split('-')[-1:][0].split("'")
    newfilename = f"{datesplit[1]}-{monthmap[datesplit[0]]}.csv"
    # print(foldername, newfilename)
    # print(temp_df)
    # break
    os.makedirs(f"../../data/rajbrain/sud/Sales/{foldername}", exist_ok=True)
    temp_df.to_csv(f"../../data/rajbrain/sud/Sales/{foldername}/{newfilename}", index=True)