In [1]:
import pandas as pd

In [2]:
with open('../../../data/ajio_sales_with_product_id.csv') as f:
    df = pd.read_csv(f)

In [3]:
df

,sale_date,ean,qty,status,mrp_per_pc,sp_per_pc,margin_per_pc,product_id
0,2018-09-27,8.907955e+12,1.0,1,2499.0,2499.00,874.6500,193bf8fd-631e-4607-9a17-949198322936
1,2018-09-29,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
2,2018-09-30,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
3,2018-10-01,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
4,2018-10-01,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
...,...,...,...,...,...,...,...,...
1667137,2022-09-30,8.907979e+12,1.0,1,1849.0,795.07,294.1759,9254ea24-e0ce-4bee-aa44-c4e26274e6a5
1667138,2022-09-30,8.907979e+12,2.0,1,2099.0,797.62,295.1194,9eda0040-a693-4def-9909-6901479843a4
1667139,2022-09-30,8.907979e+12,1.0,1,1999.0,739.63,273.6631,2ab9dfdf-781c-4b1c-9a76-d8020178f8d5
1667140,2022-09-30,8.907979e+12,1.0,1,1599.0,591.63,218.9031,20573050-4648-4382-93f3-730bba51879e
1667141,2022-09-30,8.907979e+12,1.0,1,2099.0,797.62,295.1194,cfd27e00-2910-4b63-a79c-d9a87b13d3a9

In [7]:
sales = df[df['status']==1]
returns = df[df['status']==-1]

In [11]:
salesmean = sales.groupby(['sale_date','product_id']).mean()
salesmean.drop('ean', axis=1, inplace=True)
returnsmean = returns.groupby(['sale_date','product_id']).mean()
returnsmean.drop('ean', axis=1, inplace=True)
returnsmean

                                                      qty  status  mrp_per_pc  \
sale_date  product_id
2018-10-13 824a6d89-49cc-41c0-8e34-680ff6be2285  1.000000    -1.0      1899.0
2018-10-17 15922237-49be-484e-a91f-5274b2a41b58  1.000000    -1.0      1899.0
           7c013e2b-39fe-4acb-b69a-65d6162644f6  1.000000    -1.0      2499.0
           824a6d89-49cc-41c0-8e34-680ff6be2285  1.000000    -1.0      1899.0
2018-10-19 193bf8fd-631e-4607-9a17-949198322936  1.000000    -1.0      2499.0
...                                                   ...     ...         ...
2022-09-30 fdfec45b-c2de-444f-929e-38ec63e651a0  1.000000    -1.0      2299.0
           fea8c950-fd0f-446b-b6db-99cc8760a61c  1.000000    -1.0      2199.0
           ff3228c7-e6a6-4bbc-a532-06635c957849  1.250000    -1.0      1749.0
           ff6055c8-f78b-4813-91a5-0af848151f6d  1.333333    -1.0      2299.0
           ffd72191-e541-4e83-b896-03d4f5a46f93  1.000000    -1.0      2599.0

                                                 sp_per_pc  margin_per_pc
sale_date  product_id
2018-10-13 824a6d89-49cc-41c0-8e34-680ff6be2285    855.000      299.25000
2018-10-17 15922237-49be-484e-a91f-5274b2a41b58    855.000      299.25000
           7c013e2b-39fe-4acb-b69a-65d6162644f6   1000.000      350.00000
           824a6d89-49cc-41c0-8e34-680ff6be2285    855.000      299.25000
2018-10-19 193bf8fd-631e-4607-9a17-949198322936   1000.000      350.00000
...                                                    ...            ...
2022-09-30 fdfec45b-c2de-444f-929e-38ec63e651a0    804.650      297.72050
           fea8c950-fd0f-446b-b6db-99cc8760a61c    813.630      301.04310
           ff3228c7-e6a6-4bbc-a532-06635c957849    664.620      245.90940
           ff6055c8-f78b-4813-91a5-0af848151f6d    701.195      259.44215
           ffd72191-e541-4e83-b896-03d4f5a46f93    805.690      298.10530

[276721 rows x 5 columns]

In [12]:
salesmean.reset_index(inplace=True)
returnsmean.reset_index(inplace=True)
df = pd.concat([salesmean, returnsmean], ignore_index=True)
df.sort_values(['sale_date','product_id'], inplace=True)
df

,sale_date,product_id,qty,status,mrp_per_pc,sp_per_pc,margin_per_pc
0,2018-09-27,193bf8fd-631e-4607-9a17-949198322936,1.000000,1.0,2499.0,2499.00,874.6500
1,2018-09-29,824a6d89-49cc-41c0-8e34-680ff6be2285,1.000000,1.0,1899.0,855.00,299.2500
2,2018-09-30,824a6d89-49cc-41c0-8e34-680ff6be2285,1.000000,1.0,1899.0,855.00,299.2500
3,2018-10-01,824a6d89-49cc-41c0-8e34-680ff6be2285,1.000000,1.0,1899.0,855.00,299.2500
4,2018-10-03,15922237-49be-484e-a91f-5274b2a41b58,1.000000,1.0,1899.0,855.00,299.2500
...,...,...,...,...,...,...,...
464427,2022-09-30,ffaea0f7-8573-46c3-9164-ee1d776f2416,1.000000,1.0,2199.0,813.63,301.0431
464428,2022-09-30,ffd66e54-120a-4bf4-8d2a-58bc2cd228c3,1.000000,1.0,4849.0,1503.19,556.1803
464429,2022-09-30,ffd72191-e541-4e83-b896-03d4f5a46f93,1.666667,1.0,2599.0,805.69,298.1053
741151,2022-09-30,ffd72191-e541-4e83-b896-03d4f5a46f93,1.000000,-1.0,2599.0,805.69,298.1053
464430,2022-09-30,fffb52af-00a7-400c-8f1a-9e79c9fc3d50,1.000000,1.0,1749.0,629.64,232.9668

In [15]:
df[df['product_id']=='5c194b74-3544-4090-8f7c-8ae9bebb95c9']

,sale_date,product_id,qty,status,mrp_per_pc,sp_per_pc,margin_per_pc
49789,2020-09-21,5c194b74-3544-4090-8f7c-8ae9bebb95c9,1.000000,1.0,1299.0,519.600000,181.860000
50016,2020-09-22,5c194b74-3544-4090-8f7c-8ae9bebb95c9,1.000000,1.0,1299.0,519.600000,181.860000
50256,2020-09-23,5c194b74-3544-4090-8f7c-8ae9bebb95c9,1.000000,1.0,1299.0,519.600000,181.860000
50481,2020-09-24,5c194b74-3544-4090-8f7c-8ae9bebb95c9,1.333333,1.0,1299.0,454.650000,159.127500
50710,2020-09-25,5c194b74-3544-4090-8f7c-8ae9bebb95c9,2.400000,1.0,1299.0,454.650000,159.127500
...,...,...,...,...,...,...,...
738796,2022-09-28,5c194b74-3544-4090-8f7c-8ae9bebb95c9,2.615385,-1.0,1299.0,314.757692,116.460346
462000,2022-09-29,5c194b74-3544-4090-8f7c-8ae9bebb95c9,18.000000,1.0,1299.0,298.770000,110.544900
739705,2022-09-29,5c194b74-3544-4090-8f7c-8ae9bebb95c9,2.230769,-1.0,1299.0,318.754615,117.939208
463498,2022-09-30,5c194b74-3544-4090-8f7c-8ae9bebb95c9,14.500000,1.0,1299.0,298.770000,110.544900
740582,2022-09-30,5c194b74-3544-4090-8f7c-8ae9bebb95c9,2.555556,-1.0,1299.0,321.863333,119.089433