In [13]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [14]:
sales = pd.read_csv('../../../data/ajio_sales.csv')
master = pd.read_csv('../../../data/master.csv')

/tmp/ipykernel_24383/2243741669.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  master = pd.read_csv('../../../data/master.csv')

In [15]:
sales['product_id'] = sales['ean'].map(master.set_index('ean')['product_id'])
# sales.to_csv('../../../data/ajio_sales_with_product_id.csv', index=False)
# returns = sales[sales['status'] == -1]
# sales = sales[sales['status'] == 1]

In [16]:
sales[sales['product_id'].notnull()]

,date,ean,qty,status,mrp/pc,sp/pc,margin/pc,product_id
20435,2018-09-27,8.907955e+12,1.0,1,2499.0,2499.00,874.6500,193bf8fd-631e-4607-9a17-949198322936
20526,2018-09-29,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
20580,2018-09-30,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
20658,2018-10-01,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
20659,2018-10-01,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
...,...,...,...,...,...,...,...,...
1713036,2022-09-30,8.907979e+12,1.0,1,1849.0,795.07,294.1759,9254ea24-e0ce-4bee-aa44-c4e26274e6a5
1713037,2022-09-30,8.907979e+12,2.0,1,2099.0,797.62,295.1194,9eda0040-a693-4def-9909-6901479843a4
1713038,2022-09-30,8.907979e+12,1.0,1,1999.0,739.63,273.6631,2ab9dfdf-781c-4b1c-9a76-d8020178f8d5
1713039,2022-09-30,8.907979e+12,1.0,1,1599.0,591.63,218.9031,20573050-4648-4382-93f3-730bba51879e
1713040,2022-09-30,8.907979e+12,1.0,1,2099.0,797.62,295.1194,cfd27e00-2910-4b63-a79c-d9a87b13d3a9

In [17]:
sales

,date,ean,qty,status,mrp/pc,sp/pc,margin/pc,product_id
0,2016-11-01,8.907499e+12,1.0,1,1049.0,1049.00,367.1500,NaN
1,2016-11-04,8.907499e+12,1.0,1,1099.0,653.65,269.1500,NaN
2,2016-11-04,8.907499e+12,1.0,1,1099.0,769.00,269.1500,NaN
3,2016-11-05,8.907499e+12,1.0,1,1499.0,1049.00,367.1500,NaN
4,2016-11-05,8.907499e+12,1.0,1,1499.0,1049.00,367.1500,NaN
...,...,...,...,...,...,...,...,...
1713036,2022-09-30,8.907979e+12,1.0,1,1849.0,795.07,294.1759,9254ea24-e0ce-4bee-aa44-c4e26274e6a5
1713037,2022-09-30,8.907979e+12,2.0,1,2099.0,797.62,295.1194,9eda0040-a693-4def-9909-6901479843a4
1713038,2022-09-30,8.907979e+12,1.0,1,1999.0,739.63,273.6631,2ab9dfdf-781c-4b1c-9a76-d8020178f8d5
1713039,2022-09-30,8.907979e+12,1.0,1,1599.0,591.63,218.9031,20573050-4648-4382-93f3-730bba51879e
1713040,2022-09-30,8.907979e+12,1.0,1,2099.0,797.62,295.1194,cfd27e00-2910-4b63-a79c-d9a87b13d3a9

In [18]:
1713041  - 1667142

45899

In [19]:
sales = sales[sales['product_id'].notnull()]
sales.to_csv('../../../data/ajio_sales_with_product_id.csv', index=False)
# 16.6L values

In [20]:
sales = pd.read_csv('../../../data/ajio_sales_with_product_id.csv')
sales

,date,ean,qty,status,mrp/pc,sp/pc,margin/pc,product_id
0,2018-09-27,8.907955e+12,1.0,1,2499.0,2499.00,874.6500,193bf8fd-631e-4607-9a17-949198322936
1,2018-09-29,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
2,2018-09-30,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
3,2018-10-01,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
4,2018-10-01,8.907955e+12,1.0,1,1899.0,855.00,299.2500,824a6d89-49cc-41c0-8e34-680ff6be2285
...,...,...,...,...,...,...,...,...
1667137,2022-09-30,8.907979e+12,1.0,1,1849.0,795.07,294.1759,9254ea24-e0ce-4bee-aa44-c4e26274e6a5
1667138,2022-09-30,8.907979e+12,2.0,1,2099.0,797.62,295.1194,9eda0040-a693-4def-9909-6901479843a4
1667139,2022-09-30,8.907979e+12,1.0,1,1999.0,739.63,273.6631,2ab9dfdf-781c-4b1c-9a76-d8020178f8d5
1667140,2022-09-30,8.907979e+12,1.0,1,1599.0,591.63,218.9031,20573050-4648-4382-93f3-730bba51879e
1667141,2022-09-30,8.907979e+12,1.0,1,2099.0,797.62,295.1194,cfd27e00-2910-4b63-a79c-d9a87b13d3a9

In [ ]:
sales